.subscribeButton{
      
    height: 3rem ;
    border-radius: 3rem;

    padding: 0 3.5rem;
    border: 0;
    background: #eba417;
    margin-top: 1.5rem;
    font-size: 1.25rem;
    color: black;
    font-weight: bold;

    transition: filter 0.2s;

    &:hover{
     filter: brightness(0.7);
    }

}